.badge {
    position: relative;
    top: -20px;
    left: -20px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 50%;
   }

.shopping-cart {
    padding: 2rem;
}

.cart {
    height: 3rem;
    width: 2.5rem;
}